body{
    font-family: Arial;
    padding:40px;
	background-color: white !important;
    color: black !important;
    min-height: 100vh;
    display: block !important;
}

input{
    padding:10px;
    margin:5px;
}

button{
    padding:10px 20px;
}

li{
    margin:10px 0;
}